<div class="jumbotron text-center">
  <h1>This is employee-service</h1>
  <p>
    The first service, called "employee-service", should be written using node.js and express library. This service should have one RESTful route '/employees' that should do complete CRUD on its resource.
  </p>
</div>
<div class="jumbotron">
  <h2 class="text-center">
    The employee model would look like this:
  </h2>
  <ul>
    <li>
      first name
    </li>
    <li>
      last name
    </li>
    <li>
      position
    </li>
    <li>
      salary (not sent on POST)
    </li>
    <li>
      hours worked (optional, required to be sent on POST only if 'position' is 'freelancer')
    </li>
  </ul>
  <h3 class="text-center">
    When fetching an employee, the parameter 'salary' needs to be calculated and returned to the user.
  </h3>
</div>
<div class="container text-center">
  <a class="btn btn-primary" href="/employees">Explore employees </a>
</div>
