<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h1>{{title}}</h1>
    </div>
    <div class="col-xs-4 text-right">
      <a class="btn btn-success" href="/employees/new">
        Create Employee
      </a>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each collection as |employee|}}
          <tr>
            <th scope="row">{{employee.dataValues.id}}</th>
            <td>{{employee.dataValues.firstName}}</td>
            <td>{{employee.dataValues.lastName}}</td>
            <td class="text-right">
              <a class="btn btn-primary" href="/employees/{{employee.dataValues.id}}">Details</a>
              <a class="btn btn-success" href="/employees/{{employee.dataValues.id}}/edit">Edit</a>
              <a class="btn btn-danger confirmation" href="/employees/{{employee.dataValues.id}}/destroy">DELETE</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
