<div class="panel panel-default">
  <div class="panel-heading">
    <p>First name: {{employee.dataValues.firstName}}</p>
    <p>last name: {{employee.dataValues.lastName}} </p>
  </div>
  <div class="panel-body">
    <p>Position: {{position.title}}</p>
    <p> Salary: {{position.salary}}</p>
    {{#if employee.dataValues.hoursWorked}}
      <p> Hours Worked: {{employee.dataValues.hoursWorked}}
    {{/if}}
  </div>
  <div class="panel-footer">
    <a class="btn btn-primary" href="/employees/{{employee.dataValues.id}}/edit">
      Edit
    </a>
    <a class="btn btn-danger confirmation" href="/employees/{{employee.dataValues.id}}/destroy">
      Delete
    </a>
  </div>
</div>
