<form action="{{form.action}}" method="{{form.method}}" id="employeeForm">
  <div class="form-group {{#if formObject.errors.firstName}}has-error{{/if}}">
    <label class="control-label" for="firstName">First Name</label>
    <input type="text" name="firstName" class="form-control" id="firstName" placeholder="First name" required value={{formObject.employee.firstName}}>
    {{#if formObject.errors.firstName}}
      <span class="help-block">{{formObject.errors.firstName}}</span>
    {{/if}}
  </div>
  <div class="form-group {{#if formObject.errors.lastName}}has-error{{/if}}">
    <label class="control-label" for="lastName">Last Name</label>
    <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last name" required value={{formObject.employee.lastName}}>
    {{#if formObject.errors.lastName}}
      <span class="help-block">{{formObject.errors.lastName}}</span>
    {{/if}}
  </div>
  <div class="form-group {{#if formObject.errors.position}}has-error{{/if}}">
    <label class="control-label" for="position">Position</label>
    <select class="form-control" id="position" name="position" required>
      {{#if formObject.selectedPosition.value}}
        <option data-hours="{{formObject.selectedPosition.hoursRequired}}" value={{formObject.selectedPosition.value}}>{{formObject.selectedPosition.title}}</option>
      {{/if}}
      {{#each formObject.filteredPositions as |position|}}
        <option data-hours="{{position.hoursRequired}}" value={{position.value}}>{{position.title}}</option>
      {{/each}}
    </select>
    {{#if formObject.errors.position}}
      <span class="help-block">{{formObject.errors.position}}</span>
    {{/if}}
  </div>
  <div class="form-group {{#if formObject.errors.hoursWorked}}has-error{{/if}}">
    <label class="control-label" for="hoursWorked">Hours worked</label>
    <input type="number" name="hoursWorked" class="form-control" id="hoursWorked" placeholder="Hours worked" value={{formObject.employee.hoursWorked}}>
    {{#if formObject.errors.hoursWorked}}
      <span class="help-block">{{formObject.errors.hoursWorked}}</span>
    {{/if}}
  </div>
  {{#if isNew}}
    <button type="submit" class="btn btn-primary">Create</button>
   {{else}}
    <button type="submit" class="btn btn-primary">Update</button>
   {{/if}}
</form>
